<% include partials/header %>
<div class="container">
    <div class="row">
        <h1>This is input form for yelp application</h1>
        <form  action="/campground", method="POST">
        <input class="form-control" type="text" name ="name" placeholder="text here" />
        <input class="form-control" type="text" name = "image" placeholder="image url here" />
        <button class="btn btn-lg btn-default">Submit Here</button>
        </form>
    </div>
</div>
<% include partials/footer %>